@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
a{
    text-decoration: none;
    color: #333;
}
img{
    pointer-events: none;
    user-select: none;
}
ul li{list-style-type: none;}
.clearfix:before, .clearfix:after{
    display: block;
    content: '';
    line-height: 0;
}
.clearfix:after{clear: both;}
/*header*/
header{
    background: linear-gradient(to right,#ff4b75, #fbbe35);
    height: 50px;
    width: 100%;
}
/*main*/
main{
    width:100%;
    margin-top: -50px;
}
.tabmenu{
    width: 90%;
    margin: 0 auto;
}
.tabmenu>div{
    width: 100%;
    margin: 0 auto;
    display: none;
    clear:both;
    margin-bottom: 100px;
}
.tabmenu>input{
    position:absolute;
    left:-9999px;
    top:0px;
}
.tabmenu>label{
    width: 25%;
    height: 50px;
    float: left;
    cursor: pointer;
    text-align: center;
    line-height: 48px;
    margin-bottom: 30px;
    border-right: 1px solid rgba(255,255,255,0.3);
    color: white;
}
.tabmenu>label:last-of-type{border-right: 0px;}
#tab1:checked~.randys{display:block;}
#tab1:checked+label{font-weight: bold;}
#tab2:checked~.chuchu{display:block;}
#tab2:checked+label{font-weight: bold;}
#tab3:checked~.straw{display:block;}
#tab3:checked+label{font-weight: bold;}
#tab4:checked~.etc{display:block;}
#tab4:checked+label{font-weight: bold;}

/*flex*/
.imgwrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

/*randys*/
.randys img{width: 33%;}

/*chuchu*/
.bb img{width: 100%;}
.sb{width: 100%;}
.sb img{width: 50%; float: left;}
.sb .badge{width: 150px;}
/*straw*/
.straw img{width: 49%;}
/*etc*/
.etc img{width: 50%;}
.lol_de{
    width: 50%;
    text-align: center;
}
.lol{text-decoration: underline;}

/*footer*/
footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left,#ff4b75, #fbbe35);
    color: white;
    position:fixed;
    bottom: 0px;
    left: 0px;
}
.footer_txt{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pop{
    text-decoration: underline;
    cursor:pointer;
    min-width:64px;
}

@media only screen and (max-width: 600px){
    img{
        width: 100% !important;
        margin-bottom: 6px;
    }
    .tabmenu{width: 100%;}
    .footer_txt{width: 95%;}
}
